#!/usr/bin/env bash

if [[ "$OSTYPE" == "msys" || "$OSTYPE" == "cygwin" ]]; then
    # windows
    OPENCMD=start
    alias uptime="systeminfo | grep 'System Boot Time'"
else
    # assume linux
    OPENCMD=open
fi

# Naviation
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Git
alias gitroot='cd $(git rev-parse --show-toplevel)'

# dotfiles
alias dfgit='git --git-dir=$HOME/.dotfiles --work-tree=$HOME'

# External apps
github() { $OPENCMD "https://github.com"; }
google() { $OPENCMD "https://google.com"; }
web() { $OPENCMD "https://$1"; }

alias pandock='docker run --rm -v "$(pwd):/data" -u $(id -u):$(id -g) pandoc/latex'

# Load extras
[ -f "$HOME/.aliases.$HOSTNAME" ] && source "$HOME/.aliases.$HOSTNAME"
[ -f "$HOME/.aliases.extra" ] && source "$HOME/.aliases.extra"
