[alias]
	alias = config --get-regexp ^alias\\.
	fap = fetch --all --prune
	gone = !git branch --v | grep \"\\\\[gone\\\\]\" | awk \"{print \\$1}\" | xargs git branch -D
	lol = log --graph --decorate --pretty=oneline --abbrev-commit
	lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
	pullAll = "!f() { git pull && git submodule update --init --recursive; }; f"
	reviewMain = "!f() { git log -p --reverse \"$@\" origin/master...HEAD; }; f"
	reviewMaster = "!f() { git log -p --reverse \"$@\" origin/master...HEAD; }; f"
	unstage = git restore --staged
[core]
	autocrlf = false
[diff]
	tool = kdiff3
	guitool = kdiff3
[difftool "kdiff3"]
	trustExitCode = true
[difftool "vscode"]
	cmd = code --wait --diff $LOCAL $REMOTE
[fetch]
	prune = false
[init]
	templatedir = ~/.config/git/templates
[merge]
	tool = kdiff3
	# tool = vscode
	guitool = kdiff3
[mergetool "kdiff3"]
	trustExitCode = true
[mergetool "vscode"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[pull]
	rebase = false
[rebase]
	autoStash = false
	autosquash = false
	updateRefs = false
[user]
	useConfigOnly = true

; include OS-specific configs
[includeIf "gitdir:/Users/"]
	path = ~/.gitconfig-macos
[includeIf "gitdir/i:C:/"]
	path = ~/.gitconfig-windows
[includeIf "gitdir:/home/"]
	path = ~/.gitconfig-linux
