# *
.aliases.extra
.aliases.extra.cmd
.bashrc_extra
.config/git/templates/git-clone-init
.dotfiles/

# Windows Files
AppData/*
Application Data/*
Documents/WindowsPowerShell/.extra.ps1
Local Settings/*
NetHood/*
NTUSER.DAT*
ntuser.dat*
ntuser.ini
PrintHood/*
Recent/*

